/* .panel-body{
  background-color: rgb(190, 121, 30)ff;
} */

.deletebtn {
  max-width: 28px;
  background-color: red;
  border: 1px;
  padding-right: 3px;
  /* margin-right: -77px;  */
}
.card {
  max-width: 700px;
  margin: 50px;
}
.card-header {
  text-align: center;
  /* background-color: rgb(6, 156, 211); */
  
}
.card3 {
  max-width: 300px;
  margin-top: 5px;
  padding-right: 0px;
}
.channel{
  /* padding-top: -99px; */
  margin-top: 0px;
}
.reply{
  max-width: 800px;
}