/* .panel-body{
  background-color: rgb(190, 121, 30)ff;
} */

.deletebtn {
  max-width: 28px;
  background-color: red;
  border: 1px;
  padding-right: 3px;
  /* margin-right: -77px;  */
}
.card {
  max-width: 800px;
  /* margin-left: 170px; */
  top: 60px;
  left: 140px;
}
.card-header {
  text-align: center;
  /* background-color: rgb(6, 156, 211); */
  
}
.card3 {
  max-width: 300px;
  margin-top: 5px;
  padding-right: 0px;
}
.channel{
  /* padding-top: -99px; */
  margin-top: 0px;
}
.reply{
  max-width: 800px;
}
/* .card card-body {
  max-width: 60;
} */

.navbar-color-r{
	background-color: rgb(24, 207, 158);

}
.navbar-color-r a{
	color: white;
}
 .c1 .active{
	color:black;
	background-color: white;
	border-bottom:3px solid green;

}
 .ul2 li a{
	border-bottom:3px solid red;

}
 .ul2 li a:hover,
 .ul2 li a:active,
 .ul2 li a:focus{
	background:white;
	color:black;
	border-bottom:3px solid green;

}
.icon-bar{
	background-color: white;
}
.btn{
	border:2px solid white;
}